*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #222; 
}

.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 30px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}


.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    font-size: 18px;
    position: relative;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 60px;
    height: 60px;
    padding: 15px;
    /*filter: invert(39%) sepia(83%) saturate(7493%) hue-rotate(169deg) brightness(97%) contrast(97%); */
}

.weather-icon{
    width: 170px;
    margin-top: 20px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin-top: -10px;
}

.weather h2{
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 23px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.loader{
    display: none;
}

.area-list option{
    color: #000;
}

.dropdown-content input::after{
    content:"";
    width: 3px;
    height: 3px;
    border: 2px solid;
    border-color: transparent rgb(129,129,129) rgb(129,129,129) transparent;
    transform: translateY(-70%) rotate(45deg);
}

.dropdown-content{
    box-shadow: 0 5px 15px rgb(0 0 0 / 15%);
    border-radius: 30px;
    background: #ebfffcdc;
    margin-right: 16px;
    position: relative;
}

.dropdown-content ul{
    text-align: left;
    list-style: none;
    max-height: 200px;
    overflow: auto; /* SCROLLBAR */
    scrollbar-color: #6b807c transparent;
    scroll-margin: 0 10px;
    position: absolute;
    z-index: 99;
    background-color: #ebfffcdc;
    width: 100%;
    border-radius: 30px;
    display: none;
}

/*
.dropdown-content.active ul{
    display: block;
}
    */

.dropdown-content ul li{
    padding: 10px 15px;
    cursor: pointer;
    color: #555;
    transition: background 0.3s;
}

.dropdown-content ul li:hover{
    background-color: #acc9c4;
}

.dropdown-content ul li.hover{
    background-color: #acc9c4;
}

.dropdown-content ul li.hide{
    display:none;
}
